body {
  background-color: #fdebd0;
  color: black;
}
h1 {
  background-color: rgb(202, 224, 224);
}
.titulo {
  background-color: rgb(202, 224, 224);
}
h2 {
  background-color: aquamarin;
  color: #000000;
}
.conten {
  border: 10px;
  text-align: center;
}
div {
  display: grid;
  min-height: 50dvh;
  grid-template-rows: auto 1fr auto;
}
footer {
  background-color: #abb2b9;
  text-align: center;
}
header {
  text-align: center;
  background-color: #abb2b9;
}
.log {
  width: 75px;
  height: auto;
}
.imagen {
  border-radius: 50px;
  width: 75%;
  height: 75%;
  object-fit: cover;
  filter: brightness(75%) !important;
  margin: auto;
}
main {
  text-align: center;
}
